@(big : play.libs.ws.WSResponse, small : play.libs.ws.WSResponse, friends : play.libs.ws.WSResponse, friend : play.libs.ws.WSResponse)

<html>
    <head>
        <link rel="stylesheet" href="/assets/stylesheets/main.css">
    </head>
    <body>
        <h1>Without Big Pipe</h1>
        @views.html.timing()
        <table class="wrapper">
            <tr>
                <td><div id="big">@views.html.module(big)</div></td>
                <td><div id="friend">@views.html.module(friend)</div></td>
            </tr>
            <tr>
                <td><div id="small">@views.html.module(small)</div></td>
                <td><div id="friends">@views.html.module(friends)</div></td>
            </tr>
        </table>
        </body>
</html>

